/*

!/.gitignore
!/alacritty/
!/Code/
/Code/*
!/Code/User
/Code/User/*
!/Code/User/keybindings.json
!/Code/User/settings.json
!/Code/User/snippets/
!/fish
/fish/conf.d
/fish/fish_variables
/fish/functions/*
!/fish/functions/fisher.fish
!/fish/functions/fish_prompt.fish
!/fish/functions/fish_user_key_bindings.fish
!/fish/functions/path.fish
!/gitui/
!/nvim/
/nvim/*
!/nvim/init.lua
!/tmux/
/tmux/*
!/tmux/tmux.conf
!/nix/
/nix/*
!/nix/nix.conf

